<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="TestUtilities.Reporting"></listener>
    </listeners>
    <test  preserve-order="true" name="D:/AutomationTesting/Selenium/Selenium-Workspace-Udemy/Ecommerce/src/test/java/RegisterTest.java">
        <classes>
            <class name="RegisterTest">
            </class>
                <class name="LogoutTest">
                    <methods>
                        <include name="VerifyFirstLogout"></include>
                    </methods>
                </class>
        </classes>
</test>
    <test name="Ecommerce Login/Logout Test">
        <classes>
            <class name="LoginTest"/>
            <class name="LogoutTest">
                    <methods>
                        <include name="VerifySecondLogout"></include>
                    </methods>
            </class>
        </classes>
    </test>
</suite>